# The transport for the MCP server - either 'sse' or 'stdio' (defaults to SSE if left empty)
TRANSPORT="sse"

# Host to bind to if using sse as the transport (leave empty if using stdio)
HOST="0.0.0.0"

# Port to listen on if using sse as the transport (leave empty if using stdio)
PORT=8050

# LLM API Keys
OPENAI_API_KEY=
ANTHROPIC_API_KEY=

# MODELS TO USE
EMBEDDING_MODEL_CHOICE=text-embedding-3-small
#BENCHMARK_MODEL=claude-sonnet-4-20250514
BENCHMARK_MODEL=gpt-4.1

# DEFAULTS FROM WEBMALL 
# Store 1
WOO_STORE_URL_1=
WOO_CONSUMER_KEY_1="ck_9c8b3551d31763fdc685ebddabab6954b4b2f8f7"
WOO_CONSUMER_SECRET_1="cs_0423228eaf054d31fc222f4b15c10bb9d71df9f6"

# Store 2
WOO_STORE_URL_2=
WOO_CONSUMER_KEY_2="ck_fbada4f5944e1773d732e32b7bd13f301dafe459"
WOO_CONSUMER_SECRET_2="cs_aa21bc885ce228d83fb2e27d0a66024ebca21943"

# Store 3
WOO_STORE_URL_3=
WOO_CONSUMER_KEY_3="ck_8dc7c5a4d474bbc60ee3ddae7037173f927a97c0"
WOO_CONSUMER_SECRET_3="cs_075d1b3d010f41d3b86d50f648963299ec2eb38f"


# Store 4
WOO_STORE_URL_4=
WOO_CONSUMER_KEY_4="ck_b9cccdaeb2054bfd75197182fd5569838e41ec53"
WOO_CONSUMER_SECRET_4="cs_8872563eea12f8a8469490c42f30c0ab39b4ed81"

# Elastic local
ELASTICSEARCH_HOST=http://localhost:9200
ELASTICSEARCH_INDEX=testing-unstruct



